

<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="#">{{brandMenu.title}}</a>
  <ul class="nav navbar-nav">
    <li *ngFor="let menuItem of menuItems"
        class="nav-item" routerLinkActive="active"
        [ngClass]="getMenuItemClasses(menuItem)">
      <a class="nav-item nav-link"  [routerLink]="[menuItem.path]" routerLinkActive="active">{{menuItem.title}}</a>
    </li>
    <ul class="nav navbar-nav pull-xs-right">
      <li *ngIf="authService.isLoggedIn()"><a class="nav navbat-right" (click)="authService.logout()">Logout</a></li>
      <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login">Login</a></li>
    </ul>
  </ul>
</div>
