


.logo{
  width: 100%;
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus, .nav-sidebar > li > a:hover{
  background-color: transparent;
  color:#000; 
  font-weight:bold;
}

.nav-sidebar > li > a{
  color:#000;
}
.nav-item{
  cursor: pointer;
}
