/* .navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}


.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.navbar-brand>img {
  padding: 15px; 
  width: 140px;
  margin-top: -30px;
  margin-left: -60px;
} */
.nav-item{
  display:block;
  width:100%;
}
.nav-item a{
  color:#000;
}
.nav-item.active{
  background-color:#f5f5f5;
}
.logo{
  width:100%;
}
.row-offcanvas {
  height:100%;
}

body {
  padding-top: 50px;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}

  
  /*
   * off Canvas sidebar
   * --------------------------------------------------
   */
   @media screen and (max-width: 768px) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      width:calc(100% + 220px);
    }
      
    .row-offcanvas-left
    {
      left: -220px;
    }
  
    .row-offcanvas-left.active {
      left: 0;
    }
  
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
    }
  }