
  
    <h1><a routerLink="/dashboard"><img class='logo' src="../../assets/bitchest_logo.png"></a></h1>
    <ul *ngIf="authService.isLoggedIn()" class="nav nav-sidebar">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li *ngIf="authService.isAdmin()" class="nav-item" routerLinkActive="active">
            <a class="nav-item nav-link" routerLink="/client" routerLinkActive="active">Clients</a>
          </li>
          <ng-container *ngIf="!authService.isAdmin()">
            <li *ngFor="let MenuItem of MenuItems" class="nav-item" routerLinkActive="active" [ngClass]="getMenuItemClasses(MenuItem)">
              <a class="nav-item nav-link"  [routerLink]="[MenuItem.path]" routerLinkActive="active">{{MenuItem.title}}</a>
            </li>
          </ng-container>


          <li class="nav-item" routerLinkActive="active">
            <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
          </li>
          <li *ngIf="authService.isLoggedIn()" class="nav-item">
            <a class="nav-item nav-link" (click)="authService.logout()">Deconnexion</a>
          </li>
    </ul>
  
    <span class='user-wallet' *ngIf='userService.walletSold'>Solde : {{userService.walletSold}} €</span>
            
  
