
<div class="row-offcanvas row-offcanvas-left"  *ngIf="authService.isLoggedIn()">
    <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12">
            <h1><img class='logo' src="../../assets/bitchest_logo.png"></h1>

          <!-- <div *ngIf="authService.isLoggedIn()" class="navbar navbar-inverse navbar-fixed-left"> -->
            <!-- <ul class="nav nav-pills nav-stacked">
              <li class="nav-item">

              </li>
            </ul> -->
              <ul class="nav navbar-nav">
                <li *ngIf="authService.isAdmin()" class="nav-item" routerLinkActive="active">
                  <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                </li>
                <li *ngIf="authService.isAdmin()" class="nav-item" routerLinkActive="active">
                  <a class="nav-item nav-link" routerLink="/client" routerLinkActive="active">Clients</a>
                </li>
                <!-- <li *ngIf="authService.isAdmin()" class="nav-item" routerLinkActive="active">
                  <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Currencies court</a>
                </li> -->
                <ng-container *ngIf="!authService.isAdmin()">
                  <li *ngFor="let MenuItem of MenuItems" class="nav-item" routerLinkActive="active" [ngClass]="getMenuItemClasses(MenuItem)">
                    <a class="nav-item nav-link"  [routerLink]="[MenuItem.path]" routerLinkActive="active">{{MenuItem.title}}</a>
                  </li>
                </ng-container>


                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
                </li>
                <li  *ngIf="authService.isLoggedIn()" class="nav-item">
                  <a class="nav-item nav-link" (click)="authService.logout()">Logout</a>
                </li>
              </ul>
          <!-- </div> -->
  </div>
</div>

<script>

$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});

</script>
