#myCurrencySold tr td{
    vertical-align: middle;
}
#buy-form{
    margin:0;
    padding:0;
    margin-bottom:15px;
}
td a{
    cursor: pointer;
    color:#000;
    font-weight:bold;
}
.total{
    margin-top:18px;
}
.confirmation-popup{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmation-popup div{
    color:#fff;
    display:block;
    max-width: 400px;
    margin:0 auto;
}
.confirmation-popup div button{
    display:inline-block;
}