
<h1 class='page-header'>Transaction</h1>

<ul class="nav nav-pills">
  <li class="active"><a data-toggle="pill" href="#buy">Acheter</a></li>
  <li><a data-toggle="pill" href="#sell">Vendre</a></li>
</ul>

<div class="tab-content">
  <div id="buy" class="tab-pane fade in active">
    <h3>Acheter</h3>
    <form id='buy-form' #f="ngForm" (ngSubmit)="buy(f.value)">
      <div class="form-group">
        <label for="quantity">Quantité</label>
        <input type="number" id="quantity" name="quantity" [(ngModel)]='total.quantity' #quantity="ngModel" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="currencyId">Crypto-monnaie</label>
        <select
          (change)="addPrice(currencyId.value)"
          ngModel
          #currencyId="ngModel"
          name="currencyId"
          id="currencyId"
          class="form-control"
          required>
          <option *ngFor="let currency of currencies"  value="{{currency?.id}}">{{currency?.name}} {{currency?.today_quotation.rate}} €</option>
        </select>
        <p class='total' *ngIf='total'>Total : {{total.quantity * total.price}} €</p>
      </div>
      <button type="submit" class="btn btn-bc">Acheter</button>
    </form>
    
    <div *ngIf='successBuy' class="alert alert-success" role="alert">Acheté !</div>
    <div *ngIf='errorBuy' class="alert alert-danger" role="alert">Vous n'avez pas assez de solde !</div>
  </div>

  <div id="sell" class="tab-pane fade">
    <h3>Vendre</h3>
    <div class='table-responsive'>
      <table id="myCurrencySold" class="table">
        <thead>
          <tr>
              <th>Date d'achat</th>
              <th>Nom</th>
              <th>Symbole</th>
              <th>Quantité</th>
              <th>Prix unitaire</th>
              <th class='col-md-2'></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let buy of myBuy" routerLinkActive="active">
            <td>{{buy.date}}</td>
            <td><a (click)="goToDetails(buy.currency_id, buy.name)">{{buy.name}}</a></td>
            <td>{{buy.symbol}}</td>
            <td>{{buy.quantity}}</td>
            <td>{{buy.rate}} € <span [ngClass]="buy.diff >= 0 ? 'positif':'negatif'" class='badge'>{{buy.diff >= 0 ? '+':''}}{{buy.diff}}</span></td>
            <td>
              <button type="button" (click)='sell(buy.id)' class="btn btn-bc">Vendre</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    <div *ngIf='successSell' class="alert alert-success" role="alert">Vendu !</div>
  </div>
</div>

