<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
  <h2 class="form-signin-heading">Please sign in</h2>

  <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>

  <label for="username" class="sr-only">username address</label>

  <input type="username" id="username" name="username" ngModel class="form-control" placeholder="username" required autofocus>

  <label for="password" class="sr-only">Password</label>

  <input type="password" id="password" name="password" ngModel class="form-control" placeholder="password" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
